
.gradle/2.4/taskArtifacts/cache.properties.lock

*.lock

*.bin

.gradle/2.4/taskArtifacts/fileHashes.bin

*.xml

.idea/workspace.xml

.idea/gradle.xml

.idea/gradle.xml

.idea/libraries/graphview_4_0_1.xml

.idea/libraries/support_annotations_22_2_1.xml

.idea/libraries/support_v4_22_2_1.xml

.idea/misc.xml

.idea/workspace.xml

app/app.iml
